entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["iproute2", "vim"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "WhatsTheScoop"

[[workflows.workflow]]
name = "WhatsTheScoop"
mode = "sequential"
author = 38118141

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flask --app WhatsTheScoop run --debug"

[[workflows.workflow]]
name = "Init MongoDB"
mode = "sequential"
author = 38118141

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flask --app WhatsUp init-collections"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true
